html {
    margin: 0;
    padding: 0;
}
h1,p{margin:0 0}



#info {
	position: absolute;
	top: 10px;
	width: 100%;
	height: 50%;
	text-align: center;
	z-index: 100;
	display:block;
}



body 
{
	background-color: #eeeeee;
	background-repeat: no-repeat;      /* repeat, no-repeat */
	background-attachment: fixed;   /* scroll, fixed */
	background-position: top left;  /* for no-repeat setting: top/bottom, left/right */
	margin: 0% 0% 0% 0%;            /* top, left, bottom, right or TRBL */
	margin: 0;
	
	font-family: Georgia, Serif;	/* list font names in order of preference */
	font-weight: normal;            /* normal, bold */
	font-style: normal;             /* normal, italic */
	font-variant: normal;           /* normal, small-caps */
	font-size: 16px;                /* font size */
	color: #000000;                 /* hexadecimal RGB color code */
	text-decoration: none;          /* none, underline, overline, line-through */
	text-align: left;               /* left, right, center, justify */
}

* {
    box-sizing: content-box;
	margin: 0px;
    padding: 0px;
	overflow: hidden;
}

#artifactCanvas {
    background-color: #2121;
    width: 100vw;
    height: 100vh;


    position: static; /* fixed or static */
    top: 200px;
    left: 0px;
}





#welcome {
    background-color: rgba(25, 132, 165, 0.8);
    width: 50vw;
    height: 50vh;
	padding: 0px;
	margin: 0px;
	text-align: center;
	position: fixed;
	top: 25vh;
	left: 25vw;

	opacity: 1;
	transition: opacity 2s;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Encode Sans', sans-serif;
	color: #ffffff; 
	font-size: 40px;
	border: 3px solid green;   
}

h1
{
    background-color: rgba(25, 132, 165, 0.8);
    width: 50vw;
    height: 50vh;
	padding: 0px;
	margin: 0px;
	text-align: center;
	position: fixed;
	top: 25vh;
	left: 25vw;

	opacity: 0;
	transition: opacity 0.5s;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Encode Sans', sans-serif;
	color: #ffffff; 
	font-size: 40px;
	border: 3px solid green; 
}

h2
{
    background-color: rgba(25, 132, 165, 0.8);
    width: 50vw;
    height: 50vh;
	padding: 0px;
	margin: 0px;
	text-align: center;
	position: fixed;
	top: 25vh;
	left: 25vw;

	opacity: 0;
	transition: opacity 0.5s;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Encode Sans', sans-serif;
	color: #ffffff; 
	font-size: 40px;
	border: 3px solid green; 
}




#FRONT_div {
    background-color: rgba(25, 132, 165, 0.8);
    height: 85vh;
	width: 50vw;
	top: 7vh;
	left: 25vw;

	padding: 0px;
	margin: 0px;
	text-align: center;
	position: fixed;


	opacity: 0;
	transition: opacity 2s;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Encode Sans', sans-serif;
	color: #ffffff; 
	font-size: 40px;
	border: 3px solid green;   
}




#FRONT_canvas {

    height: 85vh;
	width: 50vw;
	top: 7vh;
	left: 25vw;
	padding: 0px;
    border: 3px solid rgba(10, 240, 29, 0.726);
	position: fixed;

	opacity: 0.33;
	z-index: -1;

}

#FRONT_canvas {

    height: 85vh;
	width: 50vw;
	top: 7vh;
	left: 25vw;
	padding: 0px;
    border: 3px solid rgba(10, 240, 29, 0.726);
	position: fixed;

	opacity: 0.33;
	z-index: -1;

}

#FRONT_canvas :hover {
	width: 70vh;
  }


.fancy
{
	min-height: 150px;
	/* next two lines for elder IE compatibility */
	height: auto !important; 
	height: 150px; 
	
	/* Background color and gradients */
	background: #eeeeee;
	background: -moz-linear-gradient(top, #ffffff, #cccccc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cccccc));
	/* really nifty translucence */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.8) );
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0.8) ), to( rgba(200, 200, 200, 0.8) ));
	
	/* Rounded corners */
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}

/* Page text links */
a 
{
	font-size: 20px;
	font-weight: bold;
	font-variantx: small-caps;
	color:#00c;
	text-shadow: 1px 1px 0px #aaa;
	margin: 13px 0px 0px 0px;
	text-decoration: none;
	
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out; 
}
.toc
{
	font-size: 16px;
}
a:hover 
{
	color:#c00;
	/*text-shadow: 1px 1px 0px #f00;
	/* gradual change */
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out; 
}

.superText
{
	color: #000;
	text-shadow: 1px 1px 0px #aaa;
}

a .superImage
{  
	height: 148px;
	border: 1px solid #000000;
	margin: 0px 20px 0px 0px;
	float:left;
	
	/* Rounded corners */
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	
	position: relative; 
	
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out; 
}  
a:hover .superImage
{  
	top: -10px;  
	
	/* fallback on standard opaque colors */
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	/* translucent: the way shadows should be */
	-moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}  

.bigTitle
{
	font-size: 32px;
	font-weight: bold;
	font-variantx: small-caps;
	color:#004;
	text-align: center;
	text-shadow: -1px -1px 2px #fff, 1px 1px 3px #000;	
}